<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  
  <system.serviceModel>
   
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="ProductInformationService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="IProductInformationService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>      
    </services>    
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />          
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization
            serviceAuthorizationManagerType=" RestAuthorizationManager, App_Code"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <!--<webHttpBinding>
        <binding name="BasicAuthentication">
          <security mode="None">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </webHttpBinding>-->
    </bindings>
  </system.serviceModel>
  
  <!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    --><!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      --><!--
    <directoryBrowse enabled="true"/>
  </system.webServer>-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>